.testColor {
	background-color: #f5f5f5;
}

.teutioniaEarth {
	background-color: #800000;
}

.teutioniaSpace {
	background-color: #ad002b;
}

.republicaEarth {
	background-color: #ed1c24;
}

.republicaSpace {
	background-color: #d96c21;
}

.nefSpace {
	background-color: #fa0bfd;
}

.equostek {
	background-color: #d6187b;
}

.cccpEarth {
	background-color: #c8bfe7;
}

.cccpSpace {
	background-color: #1f5f9f;
}

.lopEarth {
	background-color: #ffaec9;
}

.lopSpace {
	background-color: #b97a57;
}

.wsEarth {
	background-color: #fff200;
}

.wsSpace {
	background-color: #f7ed46;
}

.stekEarth {
	background-color: #d9a220;
}

.stekSpace {
	background-color: #ff6633;
}

.einheitEarth {
	background-color: #009a44;
}

.einheitSpace {
	background-color: #00cc33;
}

.ashEarth {
	background-color: #6fa0cb;
}

.ashSpace {
	background-color: #6fa0cb;
}

.ukaristSpace {
	background-color: #c04f9d;
}

.dracoSpace {
	background-color: #790000;
}

.pgfEarth {
	background-color: #ffc90e;
}

.pgfSpace {
	background-color: #fd8888;
}

.rdaEarth {
	background-color: #b97a57;
}

.rdaSpace {
	background-color: #0000ff;
}

.silbSpace {
	background-color: #6a51a2;
}

.fedelSpace {
	background-color: #66cc99;
}

.childEarth {
	background-color: #a349a4;
}

.childSpace {
	background-color: #a349a4;
}

.isariiEarth {
	background-color: #ff7f27;
}

.canada {
	background-color: #7092be;
}

.auriganSpace {
	background-color: #4d5d53;
}

.artcorp {
	background-color: #792779;
}

.ostrichSpace {
	background-color: #5f9ea0;
}

.moravaEarth {
	background-color: #262f91;
}

.fishlop {
	background-color: #50c721;
}
.xotusSpace {
	background-color: #209111;
}

.westafricancoastEarth {
	background-color: #b5e61d;
}

.moravaSpace {
	background-color: #262f91;
}
.russiansplinterstatesEarth {
	background-color: #ffa5f8;
}

.solnoanterritoriesSpace  {
	background-color: #ff0000;
}
