/* EARTH COLOURS */
.earthFCI {
	background-color: #ff7e00;
}

.earthSUBURBIA {
	background-color: #ffea00;
}

.earthARGONIA {
	background-color: #9c01ff;
}

.earthCCCP {
	background-color: #bca9ff;
}

.earthCANADA {
	background-color: #7092be;
}

.earthASH {
	background-color: #2f91dc;
}

.earthRDA {
	background-color: #b97a57;
}

.earthCASCADIA {
	background-color: #397c12;
}

.earthBRITTANIA {
	background-color: #bd56bf;
}

.earthTRIBES {
	background-color: #009a44;
}

.earthTEUTIONIA {
	background-color: #9f0000;
}

.earthPGF {
	background-color: #ffc90e;
}

.earthLOP {
	background-color: #ffa5f8;
}

.earthSTEK {
	background-color: #d9a220;
}

.earthREPUBLICA {
	background-color: #ed1c24;
}

.earthTARTARIA {
	background-color: #6ca4cf;
}

.earthPERM {
	background-color: #105523;
}

.earthGODMAKER {
	background-color: #b72626;
}

.earthMOSCOW {
	background-color: #bf4f4f;
}

.earthPETRO {
	background-color: #819aba;
}

.earthTGKC {
	background-color: #e871c9;
}

.earthSUBSIHN {
	background-color: #c8c35f;
}

.earthMALA {
	background-color: #ff95e6;
}

.earthBORN {
	background-color: #828014;
}
 
.earthXI {
	background-color: #ee8b0a;
}

.earthNGUINEA {
	background-color: #5bc49d;
}


/* SPACE COLOURS */

.spaceTEUTIONIA {
	background-color: #ad002b;
}

.spaceTRIBES {
	background-color: #00cc33;
}

.spacePGF {
	background-color: #fd8888;
}

.spaceSTEKARUS {
	background-color: #ff6633;
}

.spaceSILBERFLUSS {
	background-color: #6a51a2;
}

.spaceRDA {
	background-color: #0000ff;
}

.spaceNEF {
	background-color: #fa0bfd;
}

.spaceREPUBLICA {
	background-color: #d96c21;
}

.spaceASH {
	background-color: #6fa0cb;
}

.spaceSUBURBIA {
	background-color: #f7ed46;
}

.spaceCONFEDERATEIMPERIUM {
	background-color: #ff7e00;
}

.spaceGRENZE {
	background-color: #456b6c;
}

.spaceBRITTANIA {
	background-color: #bd56bf;
}

.spaceZEIKEUTSYR {
	background-color: #6e0085;
}

.spaceDRACOAETERNUM {
	background-color: #790000;
}

.spaceUKARIST {
	background-color: #6e7377;
}

.spaceISAURIAN {
	background-color: #ffffff;
}

.spaceISTANISTAN {
	background-color: #0d8001;
}

.spaceTITANANIUM {
	background-color: #bc0cc7;
}

.spaceDERFLEKKTAGEN {
	background-color: #800000;
}

.spaceUELVAN {
	background-color: #ff5656;
}

.spaceMERIDIAN {
	background-color: #0a06b0;
}

.spaceGRIPPLI {
	background-color: #bcc7c6;
}

.spaceCCCP {
	background-color: #1f5f9f;
}

.spacePORTALLA {
	background-color: #00d2ff;
}

.spaceSHEJIN {
	background-color: #8984d1;
}

.spaceAIDAN {
	background-color: #f95bff;
}

.spaceSHRIVE {
	background-color: #c700e5;
}

.spaceTRAIKUPI {
	background-color: #42ebff;
}


